.component{
  background-color: #525252 !important;
  color: red;
}

.componentPrimary {
  background-color: #525252;
  color: white;
}

.componentSecondary {
  background-color: #424242;
  color: #6290C8;
}

.componentTertiary {
  background-color: #829CBC;
  color: #E2FCEF;;
}

.custom-muted{
  color: #E2FCEF;
}